<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Basic Map</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>

  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/ss_style.css">
</head>

<body>  

  <div id="map-holder">

    <!-- The div where we will inject our map -->
    <div class="container1 fill">
      <div id="map"></div>
    </div>

    <!-- The div where we will inject dropdown -->
    <div class="container2">
      <h5>Filter by Zip Code:</h5>
      <select id="zipCode" onchange="optionChanged(this.value)"></select>
    </div>

    <div class="container">
      <div id="map_price"></div>
    </div>

  </div>

  


  <!--Dependencies-->
  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  
  <!-- API key -->
  <script src="{{ url_for('static', filename='js/config.js') }}"></script>
  
  <!-- JS -->
  <script src="{{ url_for('static', filename='js/mapLogic.js') }}"></script>
  
</body>
</html>
